@(signupForm: Form[models.Project])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Create Project
}

@main(title, nav = "makeproject") {
    
    @helper.form(action = routes.MakeProject.submit) {
        
        <fieldset>
            <legend>Project information</legend>
            
            @inputText(
                signupForm("name"),
                '_label -> "Name", 
                '_help -> "Enter the name of your project.",
                '_error -> signupForm.globalError
            )
            
            @textarea(
                signupForm("description"),
                '_label -> "Description",
                '_help -> "Enter a short description about your project."
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Create this project">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}