@(project: models.Project)

@main(Html("Project created!"), nav = "makeproject") {
    
    <div class="alert-message block-message success">
    	<strong>Success!</strong> Your project @project.getName has been created. You may now add admins and members to your project.
    	</br></br>
		<form action="@routes.Login.submit()" method="POST">
			<input type="hidden" value="gautam.madaan&#64gmail.com" name="email">
			<input type="hidden" value="nex" name="password">
			<button class="btn" type="submit">Return</button>
		</form>
        <a href="@routes.MakeProject.index(project.getDescription)">Proceed to project</a>
    </div>
    
}