@(project: models.Project)

@main(Html("Project Summary"), nav = "") {
    
    <div class="row">
        <div class="span14">

            <h2>@project.getName</h2>
            <div class="well">
                @project.getDescription
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span1">&nbsp;</div>
        <div class="span3">
            <h4>Admins:</h4>
            <ul>
                <li>JC</li>
                <li>Gautam</li>
                <li>Chih</li>
                <li>Vinay</li>
            </ul>

            <span class="session-date">24 Members Total</span>
        </div>
        <div class="span10">
            <div class="well">
                <h4>Related Groups</h4>
                <p>Mauris venenatis nulla vel ante tincidunt volutpat. Etiam ultricies imperdiet dolor nec porta. Vestibulum id laoreet libero. Maecenas ut tincidunt quam, sed mollis magna. Suspendisse potenti. Aliquam ut sem finibus, posuere nisl sed, aliquam diam. Donec ornare neque in sapien faucibus, quis dapibus erat vulputate. Duis vitae interdum purus. Fusce aliquet nunc tortor, ac fermentum massa sagittis ac.</p>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="span9">
    		<h3>Alerts and Events</h3>
            <div class="well">
                <p><a>Jane Doe</a> posted:
                <blockquote>Has anyone really been far even as decided to use even go want to do look more like?</blockquote>
                <span class="session-date">11:25 am APR 27, 2015</span>
            </div>
            <div class="well">
                <p><a>James Brown</a> pushed changes to the workflow <a>Earthquake Prediction Model</a></p>
                <span class="session-date">12:29 pm APR 26, 2015</span>
            </div>
            <div class="well">
                <p><a>Earthquake Data Group</a> posted:
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et elit sed sem iaculis sodales. Fusce elementum tortor a accumsan feugiat. Morbi tempus maximus mauris, quis ultrices ipsum semper nec. Nunc tincidunt in eros ut rhoncus. Aliquam viverra enim dolor, sed mollis erat varius nec. Vivamus ipsum dolor, lobortis vel convallis ac, hendrerit et urna. Praesent massa neque, maximus id nibh sit amet, consequat sagittis nisi. Aenean eget egestas diam, nec sagittis lorem. Sed sit amet leo iaculis, porttitor est sit amet, lobortis justo. Quisque iaculis posuere dui rhoncus viverra. Duis posuere sollicitudin accumsan.</blockquote>
                <span class="session-date">3:37 pm APR 25, 2015</span>
            </div>
            <div class="well">
                <p><a>John Smith</a> posted:
                <blockquote>Yo does anyone want to go to Taco Bell?</blockquote>
                <span class="session-date">4:20 pm APR 20, 2015</span>
            </div>
  		</div>
  		<div class="span5">
    		<h3>Sessions</h3>
            <div class="well">
                <span class="label important">Live Now</span>&nbsp;<strong>OpenNEX Team 6</strong>
                <p class="session-date">7:00 pm-10:00 pm APR 29, 2015</p>
                <p>Work on our OpenNEX project</p>
                <button class="btn small">Join Now »</button>
            </div>
            <div class="well">
                <span class="label notice">Upcoming</span>&nbsp;<strong>Earthquake Meeting</strong>
                <p class="session-date">7:00 pm-8:00 pm APR 30, 2015</p>
                <p>Weekly meeting for the earthquake interest group</p>
            </div>
            <div class="well">
                <span class="label notice">Upcoming</span>&nbsp;<strong>Data Collection Lab</strong>
                <p class="session-date">4:00 pm-6:30 pm MAY 2, 2015</p>
                <p>Interactive lab session on data collection</p>
            </div>
            <div class="well">
                <span class="label">Previous</span>&nbsp;<strong>Declare Independence</strong>
                <p class="session-date">8:00 am-2:00 pm JLY 4, 1776</p>
                <p>USA USA USA USA</p>
            </div>
            <div class="well">
                <span class="label">Previous</span>&nbsp;<strong>OpenNEX Team 6</strong>
                <p class="session-date">7:00 pm-10:00 pm APR 28, 2015</p>
                <p>Work on our OpenNEX project again</p>
            </div>
  		</div>
	</div>
    
}