@(user: UserGroup)

@main(Html("Session Summary"), nav = "") {
    

    <h2>Session name</h2>
    <br/>


    <div class="row">
        <div class="span3">
            <h4>Participants:</h4>
            <ul>
                <li>JC</li>
                <li>Gautam</li>
                <li>Chih</li>
                <li>Vinay</li>
            </ul>
        </div>

        <div class="span11">

            <div class="well">
                <h3>Main topic</h3>
                Proin eget interdum turpis. Duis consectetur, libero a porttitor mattis, neque magna consectetur nisl, at mattis magna tellus non nulla. Sed tristique tristique tellus, in condimentum tellus volutpat quis. Aenean nibh odio, dictum vel posuere ut, facilisis viverra eros. Donec efficitur eu nibh sagittis scelerisque. Maecenas quis accumsan est, non ultricies magna. Maecenas at orci molestie, tincidunt massa sit amet, ultricies orci. Mauris venenatis nulla vel ante tincidunt volutpat. Etiam ultricies imperdiet dolor nec porta. Vestibulum id laoreet libero. Maecenas ut tincidunt quam, sed mollis magna. Suspendisse potenti. Aliquam ut sem finibus, posuere nisl sed, aliquam diam. Donec ornare neque in sapien faucibus, quis dapibus erat vulputate. Duis vitae interdum purus. Fusce aliquet nunc tortor, ac fermentum massa sagittis ac.
            </div>
        </div>
    </div>
    
}