@(loginForm: Form[models.User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Login
}

@main(title, nav = "login") {
    
    @helper.form(action = routes.Login.submit) {
        
        <fieldset>
            <legend>Account information</legend>
            
            @inputText(
                loginForm("email"),
                '_label -> "email",
                '_help -> "",
                '_error -> loginForm.globalError
            )

            
            @inputPassword(
                loginForm("password"), 
                '_help -> "",
                '_label -> "Password"
            )

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Login">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}